# How

Two important data structures have already been seen in previous chapters:

- Tuples: [Combinatorics: How to create a tuple](create_a_tuple).
- Lists: [Probability: How to create a list](create_a_list).

We covered functions in a previous chapter as well: [Probability: How to define
a function](define_a_function).

## Create a set

A set is a collection of distinct objects. This can be created in Python using
the `set` command on any iterable. If there are non distinct objects in the
iterable then this is an efficient way to remove duplicates.

````{tip}
```
set(iterable)
```
````

Here is an example of creating a set:

In [1]:
iterable = (1, 1, 3, 4, 4, 3, 2, 1, 10)
unique_values = set(iterable)
unique_values

{1, 2, 3, 4, 10}

## Do set operations

Set operations between two sets can be done using Python:

- $S_1 \cup S_2$: `set_1 | set_2`
- $S_1 \cap S_2$: `set_1 & set_2`
- $S_1 \setminus S_2$: `set_1 - set_2`
- $S_1 \subseteq S_2$ (checking if $S_1$ is a subset of $S_2$): `set_1 <= set_2`

Here are some examples of carrying out the above:

In [2]:
set_1 = set((1, 2, 3, 4, 5))
set_2 = set((4, 5, 6, 7, 8, 9))

set_1 | set_2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
set_1 & set_2

{4, 5}

In [4]:
set_1 - set_2

{1, 2, 3}

In [5]:
set_1 <= set_2

False

## Using hash tables

Lists and tuples allow us to immediately recover a value given its position.
Hash tables allow us to create arbitrary `key` `value` pairs so that given any
`key` we can immediately recover the value. This is called a dictionary in
Python and is created using `{}` which takes a collection of `key: value`
pairs.

````{tip}
```
{key_1: value, key_2: value, â€¦}
```
````

For example the following dictionary maps pet names to their ages:

In [6]:
ages = {"Riggins": 4, "Chick": 7, "Duck": 7}
ages

{'Riggins': 4, 'Chick': 7, 'Duck': 7}

To recover a value we pass the key to the dictionary using `[]`.

For example:

In [7]:
ages["Riggins"]

4

```{attention}
If a key is used to recover the value but the key is not in the dictionary then
an error will be raised.
```