# How

(create_a_tuple)=

## Create a tuple

To create a tuple which is an ordered collection of objects that cannot
be changed use the `()` brackets.

````{admonition} Usage
:class: tip

```
collection = (value_1, value_2, value_3, â€¦, value_n)
```
````

For example:

In [1]:
basket = ("Bread", "Biscuits", "Coffee")
basket

('Bread', 'Biscuits', 'Coffee')

(how_to_access_particular_elements_in_a_tuple)=

## How to access particular elements in a tuple

If you need to you can access elements of a collection using `[]`
brackets. The first element has index `0`:

```{admonition} Usage
:class: tip

tuple[index]
```

For example:

In [2]:
basket[1]

'Biscuits'

(creating_boolean_variables)=

## Create boolean variables

A boolean variable has one of two values: `True` or `False`.

To create a boolean variable here are some of the things you can use:

- Equality: `value == other_value`
- Inequality `value != other_value`
- Strictly less than `value < other_value`
- Less than or equal`value <= other_value`
- Inclusion `value in iterable`

This a subset of the operators available. For example:

For example:

In [3]:
value = 5
other_value = 10

value == other_value

False

In [4]:
value != other_value

True

In [5]:
value <= other_value

True

In [6]:
value < value

False

In [7]:
value <= value

True

In [8]:
value in (1, 2, 4, 19)

False

It is also possible to combine booleans to create new booleans:

- And: `first_boolean and second_boolean`
- Or: `first_boolean or second_boolean`
- No: `not boolean`

In [9]:
True and True

True

In [10]:
False and True

False

In [11]:
True or False

True

In [12]:
False or False

False

In [13]:
not True

False

In [14]:
not False

True

(creating_an_iterable_with_a_given_number_of_items)=

## Create an iterable with a given number of items

The `range` tool gives a given number of integers.

````{admonition} Usage
:class: tip

```
range(number_of_integers)
```
````

For example:

In [15]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

```{attention}
`range(N)` gives the integers from 0 until $N - 1$ (inclusive).
```

It is also possible to pass two values as inputs so that you have a
different lower bound:

In [16]:
tuple(range(4, 10))

(4, 5, 6, 7, 8, 9)

It is also possible to pass a third value as a step size:

In [17]:
tuple(range(4, 10, 3))

(4, 7)

## Create permutations of a given set of elements

The python `itertools` library has a `permutations` tool that will generate all
permutations of a given set.

````{admonition} Usage
:class: tip

```
itertools.permutations(iterable)
```
````

In [18]:
import itertools

basket = ("Bread", "Biscuits", "Coffee")
tuple(itertools.permutations(basket))

(('Bread', 'Biscuits', 'Coffee'),
 ('Bread', 'Coffee', 'Biscuits'),
 ('Biscuits', 'Bread', 'Coffee'),
 ('Biscuits', 'Coffee', 'Bread'),
 ('Coffee', 'Bread', 'Biscuits'),
 ('Coffee', 'Biscuits', 'Bread'))

It is possible to limit the size to only be permutations of size `r`:

In [19]:
tuple(itertools.permutations(basket, r=2))

(('Bread', 'Biscuits'),
 ('Bread', 'Coffee'),
 ('Biscuits', 'Bread'),
 ('Biscuits', 'Coffee'),
 ('Coffee', 'Bread'),
 ('Coffee', 'Biscuits'))

## Create combinations of a given set of elements

The python `itertools` library has a `combinations` tool that will
generate all combinations of size `r` of a given set:

````{admonition} Usage
:class: tip

```
itertools.combinations(iterable, r)
```
````

For example:

In [20]:
basket = ("Bread", "Biscuits", "Coffee")
tuple(itertools.combinations(basket, r=2))

(('Bread', 'Biscuits'), ('Bread', 'Coffee'), ('Biscuits', 'Coffee'))

A combination does not care about order so by default the combinations generated
are sorted.

(adding_items_in_a_tuple)=

## Summing items in a iterable

You can compute the sum of items in an iterable using the `sum` tool:

In [21]:
sum((1, 2, 3))

6

You can also directly use the `sum` without specifically creating the
iterable. This corresponds to the following mathematical notation:

$$
    \sum_{s\in S}f(s)
$$

and is done using the following:

````{admonition} Usage
:class: tip

```
sum(f(object) for object in old_list)
```
````

Here is an example of calculating the following sum:

$$
    \sum_{n=0}^{10} n ^ 2
$$

In [22]:
sum(n ** 2 for n in range(11))

385

You can compute conditional sums by only summing over elements that meet
a given condition using the following:

````{admonition} Usage
:class: tip

```
sum(f(object) for object in old_list if condition)
```
````

Here is an example of calculating the following sum:

$$
    \sum_{\begin{array}{c}n=0\\\text{ if }n\text{ odd}\end{array}}^{10} n ^ 2
$$

In [23]:
sum(n ** 2 for n in range(11) if n % 2 == 1)

165

## Directly compute \\(n!\\)

The `math` library has a `factorial` tool.

````{admonition} Usage
:class: tip

```
math.factorial(N)
```
````

In [24]:
import math

math.factorial(5)

120

## Directly compute ${n \choose i}$

The `scipy.special` library has a `comb` tool.

````{admonition} Usage
:class: tip

```
scipy.special.comb(n, i)
```
````

For example:

In [25]:
import scipy.special

scipy.special.comb(3, 2)

np.float64(3.0)

## Directly computing $^n P_i$

The `scipy.special` library has a `perm` tool.

````{admonition} Usage
:class: tip

```
scipy.special.perm(n, i)
```
````

In [26]:
scipy.special.perm(3, 2)

np.float64(6.0)